<clr-main-container class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link" routerLink="/">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Signal State Management</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/products" routerLinkActive="active"><span class="nav-text">Products</span></a>
      <a class="nav-link" routerLink="/student-list-rxjs" routerLinkActive="active"><span class="nav-text">Students (Rxjs)</span></a>
    </div>

    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">{{ store.$currentUser()?.name }}</span>
      </a>
      <a href="javascript://" class="nav-link nav-icon-text">
        Theme:
        <span class="nav-text">{{ store.$theme() }}</span>
      </a>
    </div>
  </header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
