<app-page-container title="Product List (Global State)">
  <div class="py-10 grid gap-4 grid-cols-[minmax(300px,1fr)_3fr] items-center">
    <div class="contents">
      <label class="clr-control-label">Read Current User from Global Store</label>
      <span *ngIf="store.$loadingCurrentUser()" class="spinner spinner-sm"></span>
      <span *ngIf="store.$currentUser()">{{ store.$currentUser()?.name }}</span>
    </div>

    <div class="contents">
      <label class="clr-control-label">Read Theme from Global Store</label>
      <span>{{ store.$theme() }}</span>
    </div>
  </div>

  <button class="btn btn-outline" (click)="toggleDarkTheme()">Change Theme</button>
</app-page-container>
